<h3>I am a chip</h3>
<p>Chip: <%= @chip.number %> </p>
<p>Gene: <%= link_to @chip.gene.symbol, gene_path(@chip.gene) %></p>
<br />
<h2><%= @chip.number %> Expressions </h2>
<script type="text/javascript" charset="utf-8">
  $(function(){
    var data = [<%= @data.to_json.html_safe %> ]
    var options = {
      series: {
        bars: {
          fill: true,
          show: true,
          barWidth: 0.6,
          horizontal: true,
          align: "center" }
      },bars: {
        align: "center"
      },
      points: {
        show: false
      },
      legend: {
        show: true,
        backgroundColor: "blue",
        backgroundOpacity: .1
      },
//      xaxis: {
  //      mode: "categories",
    //    tickLength: 0
      //  },
      yaxis: {
        mode: "categories",
        tickLength: 0
        }
  
  }
    $.plot($("#chip_chart"), data, options)
    });
</script>
<div id="chip_chart" style="width:1000px; height:1500px"></div>
</br>
<table class="lori">
<tr><th>Tissue</th><th>Mean</th><th>Std. Deviation</th></tr>
<% @chip.expressions.each do |v| %>
<tr>
  <td><%= v.tissue.name %></td>
  <td><%= v.mean %></td>
  <td><%= v.standard_deviation %></td>
</tr>
<% end %>
</table>
<br >
<%= link_to "Back", genes_path %>
