<h3>I am a chip</h3>
<p>Chip: <%= @chip.name %> </p>
<p>Gene: </p>
<p><%= link_to @chip.gene.symbol, gene_path(@chip.gene) %></p>
<table class="lori">
<tr><th>Tissue</th><th>Mean</th><th>Std. Deviation</th></tr>
<% @chip.expressions.each do |v| %>
<tr>
  <td><%= v.tissue.name %></td>
  <td><%= v.mean %></td>
  <td><%= v.standard_deviation %></td>
</tr>
<% end %>
</table>
<br />
<%= link_to "Back", genes_path %>
<script type="text/javascript" charset="utf-8">
  $(function(){
//    data = [data1, data2]
//    data = [[[a, b], [c, d]], [[a, 3]], [["spleen", 12]]]
  //  var data = [{ label: label1, data: means[0] }, { label: label2, data: means[1] }, { label: label3, data: means[2] }, { label: label4, data: means[3] }, { label: label5, data: means[4] }]
    var data = [[["hello", 1], ["hi", 2], ["cheerio", 3]]]
    var options = {
      series: {
        bars: {
          fill: false,
          show: true,
          barWidth: 0.6,
          align: "center" }
      },bars: {
        align: "center"
      },
      points: {
        show: false
      },
      legend: {
        show: true,
        backgroundColor: "blue",
        backgroundOpacity: .1
      },
      xaxis: {
        mode: "categories",
        tickLength: 0
        }
  }
    $.plot($("#chip_chart"), data, options)
    });
</script>
<div id="chip_chart" style="width:700px; height:500px"></div>
</br>
