<h3>I am a chip</h3>
<p><%= @chip.name %> </p>
<p>Gene: </p>
<p><%= @chip.gene.symbol %></p>
<table>
<tr><th>Tissue</th><th>Mean</th><th>Std. Deviation</th></tr>
<% @chip.values.each do |v| %>
<tr>
  <td><%= v.tissue.name %></td>
  <td><%= v.mean %></td>
  <td><%= v.standard_deviation %></td>
</tr>
<% end %>
</table>
<% mean_result = 0 %>
<% @chip.values.each do |v| %>
<% mean_result += v.mean %>
<% end %>
<% if @chip.values.count > 0 %>
<% mean = mean_result / @chip.values.count %>
<p>mean:<%= mean %></p>
<p>Yes, this is meaningless!</p>
<% end %>
