<h3>I am a chip</h3>
<p>Chip: <%= @chip.name %> </p>
<p>Gene: </p>
<p><%= link_to @chip.gene.symbol, gene_path(@chip.gene) %></p>
<table class="lori">
<tr><th>Tissue</th><th>Mean</th><th>Std. Deviation</th></tr>
<% @chip.expressions.each do |v| %>
<tr>
  <td><%= v.tissue.name %></td>
  <td><%= v.mean %></td>
  <td><%= v.standard_deviation %></td>
</tr>
<% end %>
</table>
<br />
<%= link_to "Back", genes_path %>
