<h1>Genes are great</h1>

<%= form_tag genes_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Gene Search" %>
  </p>
<% end %>
<% if @found_genes %>
<table class="lori">
  <thead>
    <tr>
      <th>Gene id</th>
      <th>Gene symbol</th>
      <th>Gene chip(s)</th>
    </tr>
  </thead>
  <tbody>
<% @found_genes.each do |cg| %>
  <tr>
    <td><%= cg.id %></td>
    <td><%= link_to cg.symbol, gene_path(cg) %></td>
    <% if cg.chips.count >= 1 %>
    <% cg.chips.each do |chip| %>
    <td><%= link_to chip.number, chip_path(chip) %></td>
    <% end %>
    <% end %>
  </tr>
<% end %>
<% end %>
</tbody>
</table>

<br/>



