<h3>Gene symbol: <%= @gene.symbol %></h3>
<% @tags.each do |tag| %>
<li><%= tag.descriptor %></li>
<% end %>
<br />
<%= link_to "Back", genes_path %>
<br />
<p>Probesets: </p>
<% @probesets.each do |probeset| %>
<span>  <%= probeset.id %>  </span>
<span><%= link_to probeset.number, probeset_path(probeset) %></span>
<br />
<% end %>
<h2>Expressions for <%= @gene.symbol %></h2>
<script type="text/javascript" charset="utf-8">
  $(function(){
    var do_graph = false
    var length = <%= @means.count %>
    if(length > 4 && length > 0){
      $("#data-alert").text("More probesets(data-sets) available...");
      console.log("More probesets(data-sets) available...");
      do_graph = true
    }
    else if(length > 0){
      $("#data-alert").text("All data-sets are graphed")
      console.log("All data-sets are graphed")
      do_graph = true
    }
    else{
      $("#data-alert").text("No data available")
    }
    var means = <%= @means.to_json.html_safe %>
    labels = <%= @probesets.to_json(:only => [:number]).html_safe %>
    label = labels[0]
    var old_data1 = <%= @means[0].to_json.html_safe %>
    var data5 = (data5 != null) ? data5 : [["none", 0]]
    var label1 = <%= @probesets.first.number.to_json.html_safe %>
    var label2 = <%= @probesets[1].number.to_json.html_safe rescue "no number".to_json.html_safe %>
    var label3 = <%= @probesets[2].number.to_json.html_safe rescue "no number".to_json.html_safe %>
    var label4 = <%= @probesets[3].number.to_json.html_safe rescue "no number".to_json.html_safe %>
    var label5 = <%= @probesets[4].number.to_json.html_safe rescue "no number".to_json.html_safe %>
    var d = <%= @probesets.first.expressions.find_by_tissue_id(2).mean rescue 0 %>
//    data = [data1, data2]
//    data = [[[a, b], [c, d]], [[a, 3]], [["spleen", 12]]]
    var data = [{ label: label1, data: means[0] }, { label: label2, data: means[1] }, { label: label3, data: means[2] }, { label: label4, data: means[3] }, { label: label5, data: means[4] }]
    var options = {
      series: {
        bars: { 
          fill: true,
          show: true,
          barWidth: 0.6, 
          horizontal: true,
          align: "center" }
      },
      bars: {
        align: "center"
      },
      points: {
        show: false
      },
      legend: {
        show: true,
        backgroundColor: "blue",
        backgroundOpacity: .1
      },
      yaxis: {
         mode: "categories",
         tickLength: 0
         },
      xaxis: {
        position: top
  //      mode: "categories",
    //    tickLength: 0
        },
      grid: {
        hoverable: true
        }
      }
    function showTooltip(x, y, contents) {
      $("<div id='tooltip'>" + contents + "</div>").css({
        position: "absolute",
        display: "none",
        top: y - 10, // + 5,
        left: x + 10, // + 5,
        border: "1px solid #fdd",
        padding: "2px",
        "background-color": "#fee",
        opacity: 0.80
      }).appendTo("body").fadeIn(200);
    }
    $.plot($("#expressions_chart"), data, options)
    $("#expressions_chart").on("plothover", function(event, pos, item){
      $("#tooltip").remove();
      console.log(event)
      console.log(pos)
      console.log(item)
      if(item === null){
        return 0;
      }
      else {
        showTooltip(item.pageX, item.pageY, item.datapoint[0]) }
      $("#for_lori").append(event)
    })
    });
</script>
<div id="expressions_chart" style="width:1000px; height:2000px"></div>
</br>
<div id="data-alert"></div>
<h2>End</h2>
<div id="#for_lori">Hiyo</div>

<%= link_to "Back", genes_path %>

