<h3>Greetings earthlings</h3>
<p>Starting here</p>
<p>Gene symbol: <%= @gene.symbol %></p>
<br />
<p>Chips: </p>
<% @chips.each do |chip| %>
<div><%= chip %></div>
<div><%= chip.id %></div>
<div><%= link_to chip.name, chip_path(chip) %></div>
<br />
<% end %>
<h3>hash</h3>
<%= @expressions_hash.to_json.html_safe %>
<br />



<h2> Experimenting </h2>

    <!-- var e = JSON.parse(<%= @chips.first.to_json %>)
    var q = eval(< "{ 'one' => 1, 'two' => 2 }".to_json >)
    console.log(q)
    var h = JSON.parse(< @expressions_hash.to_json rescue 'None' >) -->

<% @expressions_hash.each do |key, value| %>
  <p>chip: <%= key %></p>
  <p>expressions: <%= value %></p>
  <%= value.each do |k, v| %>
    <p>Tissue: <%= k %>, Mean: <%= v[0] %>, Std deviation: <%= v[1] %></p>
  <% end %>
<% end %>


<script type="text/javascript" charset="utf-8">
  $(function(){
    var a = "<%= @chips.first.expressions.first.tissue.name rescue 'None' %>"
    var b = <%= @chips.first.expressions.first.mean rescue 0 %>
    x = <%= @expressions_hash[@chips.first.name].to_json.html_safe %>
    var c = "spleen"
    var d = <%= @chips.first.expressions.find_by_tissue_id(2).mean rescue 0 %>
    data = [[[a, b], [c, d]], [[a, 3]]]
    var data = [{ label: "one", data: [ [a, b], [c, d] ]}, { label: "two", data: [ ["Eye", 2] , [a, 20], [c, 32],["Big toe", 20]] } ]
    var options = {
      series: {
        bars: { show: true,
        barWidth: 0.6, 
        align: "center" }
      },
      legend: {
        show: true
      },
      xaxis: {
        mode: "categories",
        tickLength: 0
        }
      }
    $.plot($("#expressions_chart"), data, options)
    });
</script>
<div id="expressions_chart" style="width:700px; height:500px"></div>
<h2>End</h2>



