<h3>Gene symbol: <%= @gene.symbol %></h3>
<%= link_to "Back", genes_path %>
<br />
<p>Chips: </p>
<% @chips.each do |chip| %>
<span><%= chip %></span>
<span>  <%= chip.id %>  </span>
<span><%= link_to chip.name, chip_path(chip) %></span>
<br />
<% end %>
<h3>expressions hash</h3>
<%= @expressions_hash.to_json.html_safe %>
<br />
<h3>Means</h3>
<p><%= @means %></p>
<br />
<h2>Expressions for <%= @gene.symbol %></h2>
<script type="text/javascript" charset="utf-8">
  $(function(){
    var do_graph = false
    var length = <%= @means.count %>
    if(length > 4 && length > 0){
      $("#data-alert").text("More chips(data-sets) available...");
      console.log("More chips(data-sets) available...");
      do_graph = true
    }
    else if(length > 0){
      $("#data-alert").text("All data-sets are graphed")
      console.log("All data-sets are graphed")
      do_graph = true
    }
    else{
      $("#data-alert").text("No data available")
    }
    var data1 = <%= @means[0].to_json.html_safe %>
    var data2 = <%= @means[1].to_json.html_safe %>
    var data3 = <%= @means[2].to_json.html_safe %>
    var data4 = <%= @means[3].to_json.html_safe %>
    var data5 = <%= @means[4].to_json.html_safe rescue None %>
    data5 = (data5 != null) ? data5 : [["none", 0]]
    var label1 = <%= @chips.first.name.to_json.html_safe %>
    var label2 = <%= @chips[1].name.to_json.html_safe rescue "no name".to_json.html_safe %>
    var label3 = <%= @chips[2].name.to_json.html_safe rescue "no name".to_json.html_safe %>
    var label4 = <%= @chips[3].name.to_json.html_safe rescue "no name".to_json.html_safe %>
    var label5 = <%= @chips[4].name.to_json.html_safe rescue "no name".to_json.html_safe %>
    var a = "<%= @chips.first.expressions.first.tissue.name rescue 'None' %>"
    var b = <%= @chips.first.expressions.first.mean rescue 0 %>
    var d = <%= @chips.first.expressions.find_by_tissue_id(2).mean rescue 0 %>
//    data = [data1, data2]
//    data = [[[a, b], [c, d]], [[a, 3]], [["spleen", 12]]]
    var data = [{ label: label1, data: data1 }, { label: label2, data: data2 }, { label: label3, data: data3 }, { label: label4, data: data4 }, { label: label5, data: data5 }]
    var options = {
      series: {
        bars: { 
          fill: false,
          show: true,
          barWidth: 0.6, 
          align: "center" }
      },
      bars: {
        align: "center"
      },
      points: {
        show: false
      },
      legend: {
        show: true,
        backgroundColor: "blue",
        backgroundOpacity: .1
      },
      xaxis: {
        mode: "categories",
        tickLength: 0
        }
      }
    $.plot($("#expressions_chart"), data, options)
    });
</script>
<div id="expressions_chart" style="width:700px; height:500px"></div>
</br>
<div id="data-alert"></div>
<h2>End</h2>

<%= link_to "Back", genes_path %>

