<h3>Greetings earthlings</h3>
<p>Starting here</p>
<p>Gene symbol: <%= @gene.symbol %></p>
<br />
<p>Chips: </p>
<% @chips.each do |chip| %>
<div><%= chip %></div>
<div><%= chip.id %></div>
<div><%= link_to chip.name, chip_path(chip) %></div>
<br />
<% end %>
<h3>hash</h3>
<%= @expressions_hash.to_json.html_safe %>
<br />



<h2> Experimenting </h2>

    <!-- var e = JSON.parse(<%= @chips.first.to_json %>)
    var q = eval(< "{ 'one' => 1, 'two' => 2 }".to_json >)
    console.log(q)
    var h = JSON.parse(< @expressions_hash.to_json rescue 'None' >) -->

<% @expressions_hash.each do |key, value| %>
  <p>chip: <%= key %></p>
  <p>expressions: <%= value %></p>
  <%= value.each do |k, v| %>
    <p>Tissue: <%= k %>, Mean: <%= v[0] %>, Std deviation: <%= v[1] %></p>
  <% end %>
<% end %>

<br />
<p><%= @means %></p>
<br />

<script type="text/javascript" charset="utf-8">
  $(function(){
    var do_graph = false
    var length = <%= @means.count %>
    if(length > 4 && length > 0){
      $("#data-alert").text("More chips(data-sets) available...");
      console.log("More chips(data-sets) available...");
      do_graph = true
    }
    else if(length > 0){
      $("#data-alert").text("All data-sets are graphed")
      console.log("All data-sets are graphed")
      do_graph = true
    }
    else{
      $("#data-alert").text("No data available")
    }
    var data1 = <%= @means[0].to_json.html_safe %>
    var data2 = <%= @means[1].to_json.html_safe %>
    var data3 = <%= @means[2].to_json.html_safe %>
    var data4 = <%= @means[3].to_json.html_safe %>
    var a = "<%= @chips.first.expressions.first.tissue.name rescue 'None' %>"
    var b = <%= @chips.first.expressions.first.mean rescue 0 %>
    var d = <%= @chips.first.expressions.find_by_tissue_id(2).mean rescue 0 %>
//    data = [data1, data2]
//    data = [[[a, b], [c, d]], [[a, 3]], [["spleen", 12]]]
    var data = [{ label: "one", data: data1 }, { label: "two", data: data2 }, { label: "three", data: data3 }, { label: "four", data: data4 } ]
    var options = {
      series: {
        bars: { 
          fill: false,
          show: true,
          barWidth: 0.6, 
          align: "center" }
      },
      bars: {
        align: "center"
      },
      points: {
        show: false
      },
      legend: {
        show: true
      },
      xaxis: {
        mode: "categories",
        tickLength: 0
        }
      }
    $.plot($("#expressions_chart"), data, options)
    });
</script>
<div id="expressions_chart" style="width:700px; height:500px"></div>
</br>
<div id="data-alert"></div>
<h2>End</h2>



