<h3>Greetings earthlings</h3>
<p>Starting here</p>
<p>Gene symbol: <%= @gene.symbol %></p>
<br />
<p>Chips: </p>
<% @gene.chips.each do |chip| %>
<div><%= chip %></div>
<div><%= chip.id %></div>
<div><%= link_to chip.name, chip_path(chip) %></div>
<br />
<% end %>

<% @gene.chips.each do |chip| %>
<h3>Chip: <%= chip.name %></h3>
<table>
<tr><th>Tissue</th><th>Mean</th><th>Std. Deviation</th></tr>
<% chip.expressions.each do |v| %>
<tr>
  <td><%= v.tissue.name %></td>
  <td><%= v.mean %></td>
  <td><%= v.standard_deviation %></td>
</tr>
<% end %>
</table>
<% end %>

<!-- either have layered on top multiple chips, or have a separate chart per chip 
So, it could go like this: def make_a_chart(array_of_values, name_of_div)
i.e. make_a_chart([["Brain", 10], ["Spleen", 11]], "#expressions_chart_1")
Maybe make a method in some controller/model to find an expression by the chip and the name of the body part
-->
<% @gene.chips.each do |c| %>
<h2><%= c.name %></h2>
<p>FIND EXPRESSION</p>
<%= c.find_expression(1) %> 
<% datas = [[ ["Brain", 10], ["Spleen", 11], ["Eye", 2] ], [["Big toe", 20]] ] %>
<% json_data = datas.to_json %>
<%= json_data %>
<%= datas %>

<script type="text/javascript" charset="utf-8">
  $(function(){
    var a = "<%= @gene.chips.first.expressions.first.tissue.name rescue 'None' %>"
    var b = <%= @gene.chips.first.expressions.first.mean rescue 0 %>
    var c = "<%= @gene.chips.first.expressions.find_by_tissue_id(2).name rescue 'None2' %>"
    var d = <%= @gene.chips.first.expressions.find_by_tissue_id(2).mean rescue 0 %>
    var data = [[ [a, b], [c, d], ["Eye", 2] ], [["Big toe", 20]] ]
    var options = {
      series: {
        bars: { show: true,
        barWidth: 0.6, 
        align: "center" }
      },
      xaxis: {
        mode: "categories",
        tickLength: 0
        }
      }
    $.plot($("#expressions_chart"), data, options)
    });
</script>
<div id="expressions_chart" style="width:700px; height:500px"></div>
<h2>End</h2>
<% end %>

<p>     
</p>
